{
  "extends": [
    "plugin:@typescript-eslint/recommended",
    "v2land"
  ],
  "parser": "@typescript-eslint/parser",
  "env": {
    "node": true
  },
  "rules": {
    "space-before-function-paren": "off",
    "prefer-const": "off",
    "require-jsdoc": ["error", {
      "require": {
          "FunctionDeclaration": false,
          "MethodDefinition": false,
          "ClassDeclaration": false,
          "ArrowFunctionExpression": false,
          "FunctionExpression": false
      }
    }]
  }
}
